<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        comentarios
    </title>
</head>

<body>
    <form method=post action="/guardarComentario">
        <input type=text name=comentario size=20>
        <input type=text name=usuario size=20>
        <input type=submit value="comentar">
    </form>
    <form method=delete action="/guardarComentario">
        <input type=submit value="eliminar">
    </form>
</body>

</html>