<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <img src="img/logo.png" alt="Logo"><!--se busca automaticamente debido a el public de express paula-->
    <h1><%= title %></h1>


    <script type="text/JavaScript" src="lib/angular/angular.js"></script>
  </body>
</html>
